@page "/Drivers"
@using LeMansAPI.Models
@using LeMansApp.Services
@inject ApiDownloader ApiDownloader;


<PageTitle>Drivers</PageTitle>

@if (DriverList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var driver in DriverList)
        {
            <tr>
                <td>@driver.Id</td>
                <td>@driver.FirstName</td>
                <td>@driver.LastName</td>
                
            </tr>
        }
        </tbody>
    </table>
}


@code {
    List<Driver>? DriverList;

    protected override async Task OnInitializedAsync()
    {
        DriverList = await ApiDownloader.GetFromApiAsListAsync<Driver>("api/Drivers");
    }
}
