@page "/"

<PageTitle>Home</PageTitle>

<h1>LeMans Rankings</h1>

Welcome to LeMans Rankings. Site on which you can check the details about the most popular endurace race in the world!
<p>(Currently, all data used is mocked)</p>
